.form__container {
    background-color: white;
    padding: 20px 0;
    padding-top: 0;
    border: 1px solid #00000017;
    box-shadow: 0px 0px 9px 2px #cdcdbd;
}

.form__header {
    border-bottom: 2px solid #00000026;
    padding: 10px;
    padding-bottom: 20px;
}

.form__input {
    width: 75%;
    border: 2px solid #00000026;
    padding: 10px;
    margin: 10px;
}

.form__button {
    width: 20%;
    padding: 10px;
    color: white;
    background-color: teal;
    border: none;
}