html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Lexend Deca", sans-serif;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}