html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1200px;
    font-family: 'Lexend Deca', sans-serif;
    margin: auto;
    padding: 20px;
    background-color: #8080801f;
}

.mainHeader {
    text-align: left;
    width: 100%;
}
