.tasksList {
    background-color: white;
    border: 2px solid rgba(179, 174, 174, 0.742);
    border-radius: 3px;
    box-shadow: 0px 0px 11px -3px #525251be;
    width: 60%;
    min-height: 100px;
    margin-top: 15px;
}

@media (max-width:767px) {
    .tasksList {
        width: 80%;
    }
}

.taskList__list {
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
}

@media (max-width:767px) {
    .taskList__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.taskList__header {
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    border-bottom: 2px solid rgba(179, 174, 174, 0.742);
}

.taskList__listItem {
    text-align: justify;
    line-height: 1.5;
    border-bottom: 3px solid rgba(123, 118, 118, 0.742);
    padding: 5px;
    transition: 0.5s;
}

.taskList__listItem:hover {
    background-color: #eee;
    padding: 15px;
}

.taskList__listItem--done {
    text-decoration: line-through;
}

.tasksList__button {
    border: none;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #ab0929;
    border-bottom: 10px solid #ab0929;
    background-color: crimson;
    align-self: center;
    min-height: 50px;
    text-align: center;
}

.tasksList__button:hover {
    background-color: rgb(213, 36, 72);
    transition: 0.5s;
}

.tasksList__button:active {
    border: 3px solid #ab0929;
    border-top: 10px solid #ab0929;
}

.tasksList__button--done {
    background: green;
    border: 3px solid #0c660c;
    border-bottom: 10px solid #0c660c;
}

.tasksList__button--done:hover {
    background: rgb(6, 147, 6);
    transition: 0.5s;
}

.tasksList__button--done:active {
    border: 3px solid #0c660c;
    border-top: 10px solid #0c660c;
}